table{
	background:lightblue; 
	border:1px solid red;
	/*border-collapse:collapse;*/ 
	margin: 0 auto;
	text-align:center;
	padding:30px;
	
}
tr{
	padding:5px 50px;
}
td{
	padding:20px;
}
th{
	padding:10px;
}